@using Iproj.ViewModels
@model LoginViewModel
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link href="~/css/style.css" rel="stylesheet">
	<link href="~/css/site.min.css" rel="stylesheet" />
	<link href="~/css/site.css" rel="stylesheet" />

</head>
<body>
	<div class="login-page">
		<partial name="_ValidationSummary" />
		<partial name="_ValidSummary" />

		<div class="row justify-content-center">
			@if (Model.EnableLocalLogin)
			{
				<div class="col-md-7 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
						<div class="icon d-flex align-items-center justify-content-center">
							<h1>
								<img src="~/Iproj_login_image5.png" height="120px" width="120px" />
							</h1>
							<span class="fa fa-user-o"></span>
						</div>
							<h3 class="text-center mt-4">Welcome to Auth Iproj</h3>
						@* <div class="form-group" style="margin-top: 30px;">
							<h5 class="text-left">Please login in with your email address</h5>
						</div> *@

						<form asp-route="Login" method="post">
							<input type="hidden" asp-for="ReturnUrl" />


							<div class="form-group">
								<label asp-for="Username">Email</label>
								<input class="form-control" placeholder="Email" required asp-for="Username" autofocus />
							</div>

							<div class="form-group">
								<label asp-for="Password">Password</label>
								<div class="input-group">
									<!-- Password Input -->
									<input type="password" class="form-control" id="password" placeholder="Password" asp-for="Password" autocomplete="off" required
										   style="border-top-left-radius: 10px; border-bottom-left-radius: 10px; border-right: 0;" />

									<!-- Eye Button -->
									<div class="input-group-append">
										<button class="btn" type="button" id="togglePassword"
												style="border: 2px solid black; border-top-right-radius: 100px; border-left: 0;">
											<svg id="eyeOpen" width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
												<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
												<g id="SVGRepo_iconCarrier">
													<path d="M15.0007 12C15.0007 13.6569 13.6576 15 12.0007 15C10.3439 15 9.00073 13.6569 9.00073 12C9.00073 10.3431 10.3439 9 12.0007 9C13.6576 9 15.0007 10.3431 15.0007 12Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
													<path d="M12.0012 5C7.52354 5 3.73326 7.94288 2.45898 12C3.73324 16.0571 7.52354 19 12.0012 19C16.4788 19 20.2691 16.0571 21.5434 12C20.2691 7.94291 16.4788 5 12.0012 5Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
												</g>
											</svg>

											<svg id="eyeClose" display="none"
												 width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 4L20 20" stroke="#000000" stroke-width="2" stroke-linecap="round"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M6.22308 5.63732C4.19212 6.89322 2.60069 8.79137 1.73175 11.0474C1.49567 11.6604 1.49567 12.3396 1.73175 12.9526C3.31889 17.0733 7.31641 20 12 20C14.422 20 16.6606 19.2173 18.4773 17.8915L17.042 16.4562C15.6033 17.4309 13.8678 18 12 18C8.17084 18 4.89784 15.6083 3.5981 12.2337C3.54022 12.0835 3.54022 11.9165 3.5981 11.7663C4.36731 9.76914 5.82766 8.11625 7.6854 7.09964L6.22308 5.63732ZM9.47955 8.89379C8.5768 9.6272 7.99997 10.7462 7.99997 12C7.99997 14.2091 9.79083 16 12 16C13.2537 16 14.3728 15.4232 15.1062 14.5204L13.6766 13.0908C13.3197 13.6382 12.7021 14 12 14C10.8954 14 9.99997 13.1046 9.99997 12C9.99997 11.2979 10.3618 10.6802 10.9091 10.3234L9.47955 8.89379ZM15.9627 12.5485L11.4515 8.03729C11.6308 8.0127 11.8139 8 12 8C14.2091 8 16 9.79086 16 12C16 12.1861 15.9873 12.3692 15.9627 12.5485ZM18.5678 15.1536C19.3538 14.3151 19.9812 13.3259 20.4018 12.2337C20.4597 12.0835 20.4597 11.9165 20.4018 11.7663C19.1021 8.39172 15.8291 6 12 6C11.2082 6 10.4402 6.10226 9.70851 6.29433L8.11855 4.70437C9.32541 4.24913 10.6335 4 12 4C16.6835 4 20.681 6.92668 22.2682 11.0474C22.5043 11.6604 22.5043 12.3396 22.2682 12.9526C21.7464 14.3074 20.964 15.5331 19.9824 16.5682L18.5678 15.1536Z" fill="#000000"></path> </g></svg>
										</button>
									</div>

								</div>
							</div>

							<div class="form-group">
								<button class="form-control btn btn-primary rounded submit px-3" name="button" value="login">Login</button>
							</div>
						</form>
					</div>
				</div>
			}
		</div>
	</div>

	<script src="~/js/ShowAndHide.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
