<partial name="_ValidSummary" />

<div class="p-4 mt-4 text-sm text-green-800 rounded-lg bg-green-100 dark:bg-gray-800 dark:text-green-400" role="alert">
    <span class="font-medium">Your password has been changed successfully.!</span> 
    <a href="/">Return to Profile</a>
</div>

