@if (ViewContext.ModelState.IsValid != false)
{
    <div class="alert">
        <h1>                          </h1>
    </div>
    <div class="alert">
        <h1>                          </h1>
    </div>
}